<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../static/css/about.css" />
		<title>CS Foundation Year</title>
        <style>
			body{
				width: 1902px;
				height: 750px;
                background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../static/img/about.jpg");
                -webkit-background-size: cover;
                -moz-background-size:  cover;
                -o-background-size: cover;
                background-size: 1902px 1080px;
                background-repeat: no-repeat;
			}
		</style>
    </head>
    <body>
		<nav id="navbar">
				<div class="navbarlist">
				    <ul>
                        <li><a href="https://www.manchester.ac.uk/"><img src="../static/img/logo.png" width="160px" height="50px" style="float: left"></a></li>
					    <li><a href="../index.html">Home</a></li>
					    <li><a href="about.html">About</a></li>
					    <li><a href="skills.html">Skills</a></li>
					    <li><a href="accommodation.html">Accommodation</a></li>
					    <li><a href="reviews.html">Reviews</a></li>	
				    </ul>
				</div>
		</nav>
        <form class="head" method="post">
        	<p>What the Foundation Year is</p>
		</form>
        <form class="expl" method="post">
            <h1 id="header">What the Computer Science with the Foundation Year is</h1>
            <h2>This is a one-year programme where students will learn Mathematics and Physics courses to be able to have the fundamental knowledge required for their intended degree in the Department of Computer Science.
                The programme covers such teaching approaches as lectures, review sessions, and optional drop-ins that are done on the University of Manchester campus. It also includes video lessons that are meant to be watched during the student's free time. The Foundation Year 
                also consists of additional courses such as ICT, Academic Skills, and a group project that will help develop the skills required for the degree.
            </h2>
        </form>
        <form class="add_info" method="post">
            <h2>The assessment in this programme contains online tests, in-person exams, and projects that are evaluated by the supervisors. The total percentages of each of the courses are then added on to four super units that consist of 3 specific courses. The total percentage of each course is summed on each of the super units and if reached the quota percentage required for all the super units, the student will be able to progress to the first year of their chosen degree.</h2>
            <h2><small></small></h2>
        </form>
        <form class="camp" method="post">
        	<p id="header">Campus</p>
            <h2>The University of Manchester Campus consists of many buildings that are mainly centered towards Oxford Road and in the centre of the city,this allows students to be able to go on different buildings of the campus quite easily. The method of transport for students
                to arrive to the campus are also easily accesible with bus stops, train stations and some student accomodations being near the campus.
            </h2>
		</form>
        <form class="table_">
            <table class="elem">
                <tr>
                    <td><img src="../static/img/main_campus.jpg" width='600px' height='267px'></td>
                    <td><h3>Whitworth Building</h3></td>
                </tr>
                <tr>
                    <td><img src="../static/img/dep_of_cs.jpg" width='600px' height='267px'></td>
                    <td><h3>Kilburn Building - Department of Computer Science</h3></td>
                </tr>
                <tr>
                    <td><img src="../static/img/engineering.jpg" width='600px' height='267px'></td>
                    <td><h3>Engineering Building A and B</h3></td>
                </tr>
            </table>
        </form>
        <form class="staff_1" method="post">
        	<p>The Staff of Computer Science Foundation Year</p>
            <p><img src="../static/img/dr_sly.jpg" width='250px' height='250px'></p>
            <h2>Dr. Jonathan Sly</h2>
            <h2><small>Physics lecturer and Head of Foundation Studies</small></h2>
		</form>
        <form class="staff_2">
            <table class="table_staff_2">
                <tr>
                    <td><img src="../static/img/s_raw.png" width='220px' height='220px'></td>
                    <td><img src="../static/img/dr_steele.jpg" width='220px' height='220px'></td>
                </tr>
                <tr>
                    <td><h2>Simon Raw</h2></td>
                    <td><h2>Dr. Colin Steele</h2></td>
                </tr>
                <tr>
                    <td><h2><small>Academic skills lecturer</small></h2></td>
                    <td><h2><small>Maths lecturer</small></h2></td>
                </tr>
            </table>
        </form>
        <footer id="footer">
            <h5><small>Find us: The University of Manchester, Oxford Rd, Manchester, M13 9PL, UK</small></h5>
        </footer>
    </body>
</html>

