<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../static/css/accommodation.css" />
		<title>CS Foundation Year</title>
        <style>
			body{
				width: 1902px;
				height: 750px;
                background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../static/img/accommodation.jpg");
                -webkit-background-size: cover;
                -moz-background-size:  cover;
                -o-background-size: cover;
                background-size: 1902px 1080px;
                background-repeat: no-repeat;
			}
		</style>
    </head>
    <body>
        <nav id="navbar">
            <div class="navbarlist">
                <ul>
                    <li><a href="https://www.manchester.ac.uk/"><img src="../static/img/logo.png" width="160px" height="50px" style="float: left"></a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="skills.html">Skills</a></li>
                    <li><a href="accommodation.html">Accommodation</a></li>
                    <li><a href="reviews.html">Reviews</a></li>	
                </ul>
            </div>
    </nav>
    <form class="head" method="post">
        <p>Accommodation</p>
    </form>
    <form class="info">
        <h1>Every international student will be provided with accommodation</h1>
        <h1><small>&#183 There are thousands of rooms to chose from</small></h1>
        <h1><small>&#183 Stable broadband internet connection in every room</small></h1>
        <h1><small>&#183 Catered and self-catered variants</small></h1>
        <h1><small>&#183 A variety of campuses for accommodation in three areas (City, Fallowfield, Victoria Park)</small></h1>
	</form>
    <h1 id="topic">
        City
    </h1>
    <img id="city" src="../static/img/city.jpg" width="600px" height="408px">
    <form class="text">
        <h1><small>For students who love being at the centre of the action, a student home in Manchester city centre is ideal. With plenty of high-rise flats and apartment buildings dotted around the streets, the area is perfect for spacious 1-bedroom, 2-bedroom or 3-bedroom student flats.
            The city centre is jam-packed with everything you need as a student. If you’re heading to the Northern Quarter for some lunch, try Café North or Walrus Canteen and Bar for some deliciously offbeat dining. The streets nearby are lined with pubs and bars to discover, so you’re sorted for an evening out exploring the local digs.
            The city centre is well connected to Manchester’s offerings, including major football clubs Manchester United and Manchester City. The trams and buses across the city will get football fans around easily, as well as students wanting to visit the many cultural attractions.</small></h1>
    </form>
    <h1 id="header">Halls of residence:</h1>
    <form class="halls">
        <h1><small>&#183 Denmark Road</small></h1>
        <h1><small>&#183 George Kenyon Hall</small></h1>
        <h1><small>&#183 Horniman House</small></h1>
        <h1><small>&#183 Weston Hall</small></h1>
        <h1><small>&#183 Whitworth Park</small></h1>
    </form>
    <h1 id="topic">
        Fallowfield
    </h1>
    <img id="fallowfield" src="../static/img/fallowfield.jpg" width="600px" height="408px">
    <form class="text">
        <h1><small>Fallowfield is undoubtedly one of the most popular student areas in Manchester. Students from all universities tend to flock to the neighbourhood, which is densely populated with students every year. Fallowfield is located just three miles from the city centre, so residents are just a short bus or tram journey into the hustle and bustle of the city.
            Student homes in Fallowfield are surrounded by a vibrant student atmosphere, and the area is renowned for its lively social scene. The famous Curry Mile runs through the district, which is jam-packed with tasty eateries and popular drinking holes. From chains like Domino's Pizza to independent outlets such as the Beer Studio you’ll have plenty to explore.</small></h1>
    </form>
    <h1 id="header">Halls of residence:</h1>
    <form class="halls">
        <h1><small>&#183 Ashburne Hall</small></h1>
        <h1><small>&#183 Oak House</small></h1>
        <h1><small>&#183 Richmond Park</small></h1>
        <h1><small>&#183 Sheavyn House</small></h1>
        <h1><small>&#183 Unsworth Park</small></h1>
        <h1><small>&#183 Uttley House</small></h1>
        <h1><small>&#183 Woolton Hall</small></h1>
    </form>
    <h1 id="topic">
        Victoria Park
    </h1>
    <img id="vic_park" src="../static/img/vic_park.jpg" width="600px" height="408px">
    <form class="text">
        <h1><small>Student homes in Victoria Park are centrally located among Manchester’s student suburbs. With the University of Manchester just a short walk away, and student suburb Rusholme nearby, the area has a buzzing student atmosphere. Plus, getting around Manchester from Victoria Park is super easy thanks to the city’s excellent public transport links. 
            Students in Victoria Park are bound to spend hours exploring what the area has to offer. The popular Wilmslow Road, or Curry Mile, is found on the outskirts of Victoria Park. This famous foodie hotspot is jam-packed with takeaways and diverse bistro options, as well as an abundance of drinking holes to grab a beer.
            There are a number of parks and green spaces in Victoria Park. Whitworth Park and Birchfields Park are located nearby, and Platt Fields Park even has a pond to explore. These spots are ideal for a kick-around with some mates or to host a summer BBQ on a warm summer day.</small></h1>
    </form>
    <h1 id="header">Halls of residence:</h1>
    <form class="halls">
        <h1><small>&#183 Brook Hall</small></h1>
        <h1><small>&#183 Burkhardt House</small></h1>
        <h1><small>&#183 Canterbury Court</small></h1>
        <h1><small>&#183 Daisy Bank Hall</small></h1>
        <h1><small>&#183 Dalton-Ellis Hall</small></h1>
        <h1><small>&#183 Hulme Hall</small></h1>
        <h1><small>&#183 St Anselm Hall</small></h1>
    </form>
    <footer id="footer">
        <h5><small>Find us: The University of Manchester, Oxford Rd, Manchester, M13 9PL, UK</small></h5>
    </footer>
    </body>
</html>