<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../static/css/skills.css" />
		<title>CS Foundation Year</title>
        <style>
			body{
				width: 1902px;
				height: 750px;
                background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../static/img/skills.jpg");
                -webkit-background-size: cover;
                -moz-background-size:  cover;
                -o-background-size: cover;
                background-size: 1902px 1080px;
                background-repeat: no-repeat;
			}
		</style>
    </head>
    <body>
        <nav id="navbar">
            <div class="navbarlist">
                <ul>
                    <li><a href="https://www.manchester.ac.uk/"><img src="../static/img/logo.png" width="160px" height="50px" style="float: left"></a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="skills.html">Skills</a></li>
                    <li><a href="accommodation.html">Accommodation</a></li>
                    <li><a href="reviews.html">Reviews</a></li>	
                </ul>
            </div>
        </nav>
        <form class="head" method="post">
            <p>Skills</p>
        </form>
        <form class="req" method="post">
            <h1 id="header">Computer Science with an Integrated Foundation Year. Requirements, expectations and benefits.</h1>
            <h1><small>Computer Science with an Integrated Foundation Year is a one year course created to improve your mathematical and scientific skills to give you an opportunity to start the degree in one of the following subject areas</small></h1>
        </form>
        <form class="sub_areas">
            <h1><small>&#183 Computer Science and Mathematics BSc</small></h1>
            <h1><small>&#183 Computer Science and Mathematics with Industrial Experience BSc</small></h1>
            <h1><small>&#183 Computer Science BSc</small></h1>
            <h1><small>&#183 Computer Science with Industrial Experience BSc</small></h1>
        </form>
        <form class="text" method="post">
            <h1><small>Students are accepted from a wide range of educational backgrounds. The entry requirements vary depending on the Mathematics, Further Mathematics, Physics, and Computer Science subjects being taken at A level. Typically, the University would be looking for:</small></h1>
        </form>
        <form class="sub_areas">
            <h1><small>&#183 Grades ABB where a student has 3 relevant subjects</small></h1>
            <h1><small>&#183 Grades AAB where a student has 2 relevant subjects</small></h1>
            <h1><small>&#183 Grades AAA where a student has 1 relevant subject</small></h1>
            <h1><small>&#183 All applicants to the University (from the UK and Overseas)</small></h1>
            <h1><small>are required to show evidence of English Language proficiency.</small></h1>
        </form>
        <form class="text" method="post">
            <h1 id="header">New skills gained through the Foundation Year</h1>
            <h1><small>On the Foundation Year you will study Mathematics and Physics. In addition, you will take modules in Academic Skills and ICT (Information and Communications Technology). You will also complete a team project, related to your degree course and supervised by an academic from your future Department.
            </small></h1>
        </form>
        <form class="text" method="post">
            <h1><small>The integrated foundation route has produced outstanding graduates across all of our science and engineering courses. It will assure your potential for success, adaptability, analytical skills and independent thought. Computer Science with an Integrated Foundation Year gives you the preparation in Mathmetics, Physics, ICT, Team Project, and Academic skills that you need to proceed to degree-level courses in the subject area of Computer Science in the Department of Computer Science.</small></h1>
        </form>
        <form class="text">
            <h1 id="header">The Foundation Year helps students learn and develop skills:</h1>
        </form>
        <form class="table_">
            <table class="elem">
                <tr>
                    <td><h2 id="topics">Time management</h2></td>
                    <td><h3>This skill will prove helpful when students will do multiple courses, deadlines, and projects throughout the day and so have to manage their time to complete all the tasks.</h3></td>
                </tr>
                <tr>
                    <td><h2 id="topics">Communication</h2></td>
                    <td><h3>This is a skill that will be developed in the Foundation Year in a lot of discussions and workshops with teachers and students throughout the whole programme.</h3></td>
                </tr>
                <tr>
                    <td><h2 id="topics">Teamwork</h2></td>
                    <td><h3>Working with a team will develop teamwork skills where students will communicate together and assign each member to a certain task to be able to reach the common final goal.</h3></td>
                </tr>
                <tr>
                    <td><h2 id="topics">Researching</h2></td>
                    <td><h3>This is a skill that is needed for doing things such as essays and presentations in the Foundation Year to find relevant information from trusted sources.</h3></td>
                </tr>
                <tr>
                    <td><h2 id="topics">Presenting Ideas</h2></td>
                    <td><h3>This skill comes from events where students present their ideas, opinions, and the results of their research to their team and teachers.</h3></td>
                </tr>
                <tr>
                    <td><h2 id="topics">Problem Solving</h2></td>
                    <td><h3>The Foundation Year will help to develop this skill when a student faces a challenging task and has to solve it through their research.</h3></td>
                </tr>
            </table>
        </form>
        <form class="text" method="post">
            <h1><small>On successful completion of the Foundation Year you will find that this helps greatly in easing your move into the first year of your chosen degree programme.</small></h1>
        </form>
        <footer id="footer">
            <h5><small>Find us: The University of Manchester, Oxford Rd, Manchester, M13 9PL, UK</small></h5>
        </footer>
    </body>
</html>